* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: serif;
}

.header {
  display: flex;
  flex-direction: column;
  background-image: url(../images/bg_hero_mobile.svg);
  background-size: contain;
  background-color: hsl(193, 100%, 96%);
  background-repeat: no-repeat;
  height: 100vh;
}

.headerTitleButton {
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.headerTitleButton button {
  font-weight: 600;
  font-size: 15px;
  font-family: "Open Sans", serif;
  border: none;
  background-color: white;
  color: black;
  padding: 0.6em 2em;
  border-radius: 30px;
  box-shadow: 2px 2px 10px rgb(216, 216, 216);
}

.headerContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 3em 4em 4em 4em;
  align-items: center;
}

.headerContainer h1 {
  font-family: "Poppins", serif;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 1em;
  font-weight: 600;
}

.headerContainer p {
  font-family: "Open Sans", serif;
  text-align: center;
  margin-bottom: 2em;
  font-size: 18px;
}

.headerContainer button {
  font-family: "Open Sans", serif;
  font-size: 15px;
  background-color: hsl(322, 100%, 66%);
  padding: 1em 5em;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  margin-bottom: 4em;
}

.first-container {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  box-shadow: 2px 2px 10px rgb(216, 216, 216);
  border-radius: 10px;
  padding: 3em;
}

.first-container-text h2 {
  margin-top: 3em;
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 600;
}

.first-container-text p {
  margin-top: 1em;
  text-align: center;
  font-family: "Open Sans", serif;
  color: hsl(208, 11%, 55%);
}

.second-container {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  box-shadow: 2px 2px 10px rgb(216, 216, 216);
  border-radius: 10px;
  padding: 3em;
}

.second-container-text h2 {
  margin-top: 3em;
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 600;
}

.second-container-text p {
  margin-top: 1em;
  text-align: center;
  font-family: "Open Sans", serif;
  color: hsl(208, 11%, 55%);
}

.third-container {
  display: flex;
  flex-direction: column;
  margin: 1.5em 1.5em 15em 1.5em;
  box-shadow: 2px 2px 10px rgb(216, 216, 216);
  border-radius: 10px;
  padding: 3em;
}

.third-container-text h2 {
  margin-top: 3em;
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 600;
}

.third-container-text p {
  margin-top: 1em;
  text-align: center;
  font-family: "Open Sans", serif;
  color: hsl(208, 11%, 55%);
}

.fourth-container {
  /* border: 1px solid black; */
  border-radius: 15px;
  margin: 1em;
  box-shadow: 2px 2px 10px rgb(216, 216, 216);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 80px;
  background-color: white;
}

.fourth-container h2 {
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 600;
  padding: 1.5em 0.1em 1.5em 0.1em;
  font-size: 1.3em;
  margin-top: 1em;
}

.fourth-container button {
  background-color: hsl(322, 100%, 66%);
  padding: 1em;
  width: 75%;
  margin-bottom: 3em;
  border-radius: 30px;
  border: none;
  color: white;
  font-family: "Open Sans", serif;
  font-weight: bold;
}

footer {
  background-color: hsl(192, 100%, 9%);
  display: flex;
  flex-direction: column;
  padding: 8em 1em 1em 1em;
}

footer img:nth-child(1) {
  width: 50%;
}

.footer-text {
  display: flex;
  flex-direction: row;
  width: 30px;
  justify-content: center;
}

.footer-text img {
}
