@media only screen and (min-width: 1440px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header {
    display: flex;
    flex-direction: column;
    background-image: url(../images/bg_hero_mobile.svg);
    background-size: contain;
    background-color: hsl(193, 100%, 96%);
    background-repeat: no-repeat;
    height: 88vh;
    width: 100vw;
    background-color: rgba(0, 255, 255, 0.151);
  }
  .headerTitleButton {
    padding: 2em 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headerTitleButton img {
    height: 2.5vw;
    margin-left: 75px;
  }
  .headerTitleButton button {
    font-weight: 700;
    font-size: 10px;
    font-family: "Open Sans", serif;
    border: none;
    background-color: white;
    color: black;
    padding: 0em 2em;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgb(216, 216, 216);
    width: 10vw;
    height: 32px;
  }
  .headerTitleButton button:hover {
    cursor: pointer;
  }
  .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    gap: 50px;
  }

  .headerContainer h1 {
    font-size: 38px;
    text-align: left;
  }
  .headerContainer p {
    text-align: left;
    font-family: sans-serif;
    margin-right: 25px;
  }
  .headerContainer button {
    font-family: "Open Sans", serif;
    font-size: 12px;
    background-color: hsl(322, 100%, 66%);
    padding: 1em 5em;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-weight: bold;
    margin-bottom: 4em;
    margin-top: 20px;
    /* margin-left: 2em; */
    width: 17vw;
    height: 6vh;
  }
  .headerContainer img {
    width: 55%;
  }
  .first-container,
  .second-container,
  .third-container,
  .fourth-container {
    /* border: 1px solid black; */
    box-shadow: 0px 0px 20px 0px;
    color: rgba(0, 0, 0, 0.274);
    border-radius: 25px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 75vh;
    margin: 100px 100px 100px;
    text-align: left;
    gap: 100px;
  }
  .first-container-text h2,
  .second-container-text h2,
  .third-container-text h2 {
    text-align: left;
    font-size: 36px;
  }
  .first-container-text p,
  .second-container-text p,
  .third-container-text p {
    text-align: left;
    font-size: 20px;
    padding-bottom: 150px;
  }
  .second-container {
    flex-direction: row;
  }
  .first-container-image,
  .second-container-image,
  .third-container-image,
  .fourth-container-image {
    flex-direction: row;
    width: 40%;
  }
  h1,
  h2,
  h3 {
    font-family: Poppins;
    font-weight: 600;
    color: black;
  }
  button {
    font-family: Open Sans;
    font-weight: 400;
  }
  .fourth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    /* border: 5px solid black; */
    background-color: white;
    position: relative;
    top: 200px;
    left: 25%;
    right: 25%;
    width: 700px;
    height: fit-content;
    gap: 0px;
    padding: 15px 100px;
    padding-top: 2em;
  }
  .fourth-container h2 {
    font-size: 29px;
  }
  .fourth-container-button {
    background-color: hsl(322, 100%, 66%);
    padding-top: 500px;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 17vw;
    height: 6vh;
  }
  footer {
    padding: 200px 150px;
    background-color: hsl(192, 100%, 9%);
    color: white;
    width: 100%;
  }
  .footer-info {
    display: flex;
    flex-direction: row;
  }
  .footer-logo {
    width: 15%;
  }
  .footer-column {
    width: 30%;
    margin-right: 200px;
  }
  footer li {
    list-style: none;
  }
  .footer-icon {
    padding-left: 190px;
  }
  .footer-copyright p {
    display: inline-block;
  }
  .footer-copyright {
    position: relative;
    right: -550px;
    top: 100px;
  }
}
