@media screen and (min-width: 376px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header {
    background-color: rgba(0, 255, 255, 0.267);
  }
  .headerContainer {
    /* border: 5px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    gap: 50px;
  }
  .headerContainer h1 {
    font-size: 38px;
    text-align: left;
  }
  .headerContainer p {
    text-align: left;
  }
  .header-container-image {
    width: 55%;
  }
  .first-container,
  .second-container,
  .third-container,
  .fourth-container {
    /* border: 1px solid black; */
    box-shadow: 0px 0px 20px 0px;
    color: rgba(0, 0, 0, 0.274);
    border-radius: 25px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 75vh;
    margin: 100px 100px 100px;
    text-align: left;
    gap: 100px;
  }
  .first-container-text h2,
  .second-container-text h2,
  .third-container-text h2 {
    text-align: left;
    font-size: 36px;
  }
  .first-container-text p,
  .second-container-text p,
  .third-container-text p {
    text-align: left;
    font-size: 20px;
    padding-bottom: 150px;
  }
  .second-container {
    flex-direction: row;
  }
  .first-container-image,
  .second-container-image,
  .third-container-image,
  .fourth-container-image {
    flex-direction: row;
    width: 40%;
  }
  h1,
  h2,
  h3 {
    font-family: Poppins;
    font-weight: 600;
    color: black;
  }
  button {
    font-family: Open Sans;
    font-weight: 400;
  }
  .fourth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    /* border: 5px solid black; */
    background-color: white;
    position: relative;
    top: 200px;
    left: 25%;
    right: 25%;
    width: fit-content;
    height: fit-content;
    gap: 0px;
    padding: 15px 100px;
  }
  .fourth-container-button {
    background-color: hsl(322, 100%, 66%);
    padding: 1em 5em;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    margin-bottom: 5em;
  }
  footer {
    padding-top: 200px;
    background-color: hsl(192, 100%, 9%);
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .footer-logo {
    width: 5px;
  }
  footer img {
    width: 5%;
  }
}
